html{
    background-color: rgb(84, 22, 143);
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    overflow: hidden;
}
.table{
    width: 85%;
    height:600px;
    background-color: rgb(159, 78, 235);
    position: absolute;
    top: 10%;
    left:7%;
    border-radius: 10px;

}
.customertable{
    color: white;
    position: absolute;
    top: 20%;
    left:30%;
    border-color: white;
    width:600px; 
    line-height:40px;
    align-items: center;
    overflow: scroll;
}


.record{
    position: relative;
    top: -110px;
    left:-10%;
    font-size: 24px;
}

h1{
    color: white;
    font-weight: bold;
    position: relative;
    left:71%;
    top:20px;

}
.navibtn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;


    display: inline-block;
    position: relative;
    top: 1%;
    left: 1%;

}

.navibtn1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;


    display: inline-block;
    position: relative;
    top: 1%;
    left: 84%;

}




